@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body{
  background-color: #a7a8e7 ;
  transition: background-color 2s ease;
}
body:hover {
  background-color: #b9baeb;
}

button[type="submit"] {
  background-color: #724aaf; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  margin-left:220px;
  margin-top:20px;
  box-shadow: 0px 4px 5px rgba(186, 55, 149, 0.83);
  transition: transform 0.2s ease-in-out;

}

/* Hover effect */
button[type="submit"]:hover {
  background-color: #6b078c;
  transform: scale(1.1);

}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style the input */
input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 16px;
}
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #621074;
}

a:focus,
a:active {
  outline: none;
  text-decoration: underline;
}
.logintitle{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px rgba(196, 72, 212, 0.668);
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #500b91;
}
nav {
  background-color: #a7a8e7;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
}

nav a:hover {
  text-decoration: underline;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover {
  text-decoration: underline;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #33051c;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #3f0919;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #47081b;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
